@import "tailwindcss";

@theme {
  --color-brand-50:  #FEF0F1;
  --color-brand-100: #FDD8DB;
  --color-brand-200: #FBAFB5;
  --color-brand-400: #F5717C;
  --color-brand-500: #F23D4C;
  --color-brand-600: #D9303F;
  --color-brand-700: #B52431;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}